<div class="jumbotron" style="position: relative">
  <div class="text-center">
    <h1 class="display-4">Ienei Raul-Alin</h1>
    <h3>Full Stack Developer</h3>
  </div>

  <div style="position: absolute; bottom: 5px; right: 10px">
    <a href="https://www.linkedin.com/in/raul-alin-ienei-45a110200/" target="_blank">
      <img src="../../assets/linkedin.png" width="24" height="24"
           class="mx-2 me-2">
    </a>

    <a href="https://github.com/ieneiraul" target="_blank">
      <img src="../../assets/github1.png" width="24" height="24"
           class="mx-2 me-2">
    </a>
  </div>
</div>
