<div class="container text-center">
  <button (click)="downloadFile()" class="btn btn-primary mt-2 mb-5 shadow border">Download PDF Resume</button>

  <div class="pb-2">
    <accordion [isAnimated]="true" class="shadow">
      <accordion-group heading="Work Experience">
        <div style="text-align: left;">
          <h2 class="mb-0">Java Developer</h2>
          <h3 class="text-primary">Tickbird</h3>
          <h6>December 2022- January 2024</h6>
          <p>As a Java Developer, I had the privilege of working on a serverless project on AWS cloud environment using
            Terraform, Java 11, Docker for the local stack and Concourse for CI.
            The project manages car cameras that are monitoring driver's and
            passenger's behavior.<br><br>
            Key Functionalities I Actively Contributed:<br>
            -user management: refactoring the existing implementation, redesigning the app's interface<br>
            -SIM API: creating the API that communicates with the SIM installed on camera, monitoring the camera's state<br>
            <br>
            Technology Stack:<br>
            <br>
            - Core Development: Java 11 & 17<br>
            - Frontend: Angular 16.2<br>
            - Cloud Infrastructure: AWS<br>
            - Database Management: AWS RDS, AWS DynamoDB
          </p>
          <h2 class="mb-0"><br>Junior Java Developer</h2>
          <h3 class="text-primary">MHP- a Porsche Company</h3>
          <h6>December 2021 - December 2022</h6>
          <p>As a Java Developer, I had the chance to work on a large plain java support project with oracle sql
            database and a front end tool made by the client, doing
            maintenance work, implementing new features and communicating
            directly with the client, offering support to client's team.<br><br>
            Key Functionalities I Actively Contributed:<br>
            -Selfservice feature: refactoring the existing implementation, redesigning the app's interface, adding new feature for the client russian team<br>
            -Maintenance: debuging and resolving existing bugs based on tickets<br>
            <br>
            Technology Stack:<br>
            <br>
            - Core Development: Java 8<br>
            - Frontend: Client's tool<br>
            - Database Management: Oracle DB
          </p>
          <h2 class="mb-0"><br>Java Intern</h2>
          <h3 class="text-primary">Naggaro</h3>
          <h6>July 2021 - August 2021</h6>
          <p>As a Java Intern, I worked  web service application using spring boot with RESTful API.<br><br>
            Functionalities I Actively Contributed:<br>
            -User management: working on CRUD functionalities<br>
            <br>
            Technology Stack:<br>
            <br>
            - Core Development: Java Spring and Spring boot<br>
            - Database Management: MySQL DB
          </p>
        </div>
      </accordion-group>
      <accordion-group heading="Education">
        <div style="text-align: left;">
          <h2 class="mb-0">Bachelor of Computer Science</h2>
          <h3 class="text-primary">Babes-Bolyai University</h3>
          <h6>Oct 2019 - July 2022</h6>
         <p>- Courses: OOP, Data Structure and Algorithms, Databases<br>
           - Projects: Car Dealership application, social network application<br>
           - Bitdefender Course organised by Babes- Bolyai University<br>
         </p>
          <h2 class="mb-0"><br>High school diploma - mathematics and informatics</h2>
          <h3 class="text-primary">National College "Inochentie Micu Clain", Blaj</h3>
          <h6>Graduated - June 2019</h6>
          <p>- Attested in Informatics<br>
            - Obtaining the maximum grade on the informatics and mathematics baccalaureate<br>
            - English language certificate<br>
            - Mathematics and Informatics Olympiad and competition participation<br>
          </p>
        </div>
      </accordion-group>
      <accordion-group heading="Skills">
        <div class="row" style="text-align: left">
          <div class="col">
            <h3>Programming Languages</h3>
            <ul>
              <li>Java</li>
              <li>TypeScript</li>
              <li>JavaScript</li>
            </ul>
          </div>
          <div class="col">
            <h3>Frameworks</h3>
            <ul>
              <li>Angular</li>
              <li>React</li>
              <li>Spring</li>
            </ul>
          </div>
          <div class="col">
            <h3>Other Skills</h3>
            <ul>
              <li>Git</li>
              <li>AWS</li>
              <li>Postman</li>
              <li>SQL and NoSQL databases</li>
              <li>Agile Development</li>
            </ul>
          </div>
        </div>
      </accordion-group>
    </accordion>
  </div>
</div>
